<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Charlotte Perution - Développeuse web Freelance Symfony/WordPress" />
		<title>
			{% block title %}Charlotte Perution - Développeuse web Freelance Symfony/WordPress
			{% endblock %}
		</title>
		<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
		<link rel="stylesheet" href="public/CSS/style.css" />
		<link href="public/CSS/bootstrap.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="public/img/flavicon.png" />
		<!-- Twitter Card data -->
		<meta content="Charlotte Perution - Développeuse web Freelance Symfony/WordPress" name="twitter:card">
		<!-- Open Graph data -->
		<meta content="Charlotte Perution  - Développeuse web Freelance Symfony/WordPress" property="og:title"/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.charlotteperution.fr" />
		<meta property="og:image" content="public/img/profil.jpeg" />
		<meta property="og:description" content="Charlotte Perution - Découvrez mon portfolio regroupant mes différents projets réalisés et les services que je propose. N'hésitez pas à me contacter pour toutes demandes 
		d'informations supplémentaires ou pour un devis">
	</head>
	<body>
		<header>
			<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
				<button aria-controls="#navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarColor01" data-toggle="collapse" type="button">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="#navbarColor01">

					<!-- {% if session is empty %}
						<a class="navbar-brand " href="{{ globals.root }}index.php?action=login"><i class="fas fa-user"></i> Connexion</a>
					{% else %}
						<a class="navbar-brand " href="#"><i class="fas fa-user"></i> {{ session.pseudo }}</a>
						<a class="navbar-brand " href="{{ globals.root }}index.php?action=logout"><i class="fas fa-user-times"></i> Déconnexion</a>
					{% endif %} -->
					<ul class="nav navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ globals.root }}index.php#head"><i class="fas fa-home"></i> Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ globals.root }}index.php#introduction">
								<i class="fas fa-user-circle"></i> A propos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ globals.root }}index.php#services">
								<i class="fas fa-wrench"></i>
								Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ globals.root }}index.php#portfolio"><i class="fas fa-book"></i> Portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ globals.root }}index.php#contact"><i class="fas fa-comments"></i> Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

			<!-- <div class="container-fluid">
				{% if get.accountStatus and get.accountStatus == 'account-successfully-created' %}
					<p id="success">Votre compte a bien été créé. <a href="{{ globals.root }}index.php?action=login">Se connecter</a></p>
				{% endif %}
				{% if get.logout and get.logout == 'success' %}
					<p id="success">Vous êtes bien deconnecté.</p>
				{% endif %} -->

		{% block body %}
		{% endblock %}

			</div>

		<footer>
			<div class="row">
				<div class="col-lg-4">
					<a href="{{ globals.root }}admin/index.php?action=admin-login-view">Administration</a><br>
				</div>
				<div class="col-lg-4">
					<p>Vous pouvez me retrouver sur les réseaux sociaux :</p>
					<a href="https://www.linkedin.com/in/charlotte-perution-97b305167/"><i class="fab fa-linkedin fa-lg"></i></a>
					<a href="https://github.com/chaperution"><i class="fab fa-github fa-lg"></i></a>
					<a href="https://twitter.com/Charlotteper34"><i class="fab fa-twitter"></i></a>
				</div>
				<div class="col-lg-4">
					<a href="{{ globals.root }}index.php?action=privacy">Mentions légales</a>
				</div>
			</div>
		</footer>
		<script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="public/JS/ajax.js"></script>
		<script src="public/JS/app.js"></script>
		<script src="public/JS/flashMessage.js"></script>
		
	</body>
</html>