{% extends "backend/layout.html.twig" %}

{% block backend_body %}

	<section id="dashboard">

		{% if get.newPost and get.newPost == 'import' %}
			<p id="error">Erreur durant l'importation de la photo.</p>
		{% elseif get.updateStatus and get.updateStatus == 'error-import' %}
			<p id="error">Erreur durant l'importation de la photo.</p>
		{% endif %}
		{% if get.newPost and get.newPost == 'error' %}
			<p id="error">Le nouveau projet n'a pas pu être ajouté.</p>
		{% elseif get.updateStatus and get.updateStatus == 'error' %}
			<p id="error">Le projet n'a pas pu être modifié.</p>
		{% endif %}
		{% if get.newPost and get.newPost == 'success' %}
			<p id="success">Le nouveau projet a bien été ajouté.</p>
		{% elseif get.updateStatus and get.updateStatus == 'success' %}
			<p id="success">Le projet a bien été modifié.</p>
		{% elseif get.removePost and get.removePost == 'success' %}
			<p id="success">Le projet a bien été supprimé.</p>
		{% elseif get.removeComment and get.removeComment == 'success' %}
			<p id="success">Le commentaire a bien été supprimé.</p>
		{% elseif get.removeMember and get.removeMember == 'success' %}
			<p id="success">Le membre a bien été supprimé.</p>
		{% endif %}
		
		<div class="row">
			<div class="col-lg-12">
				<a role="button" class="btn btn-primary btn-lg active" href="index.php?action=createPost">Ajouter un projet</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div id="postManage">
					<h3>Gestion des projets</h3>
					{% if posts is defined %}
						{% for post in posts %}
					<div class="listPanel">
						<p><a class="linkAdmin" href="index.php?action=updatePost&amp;id={{ post.id }}">{{ post.title}}</a></p>
						<button class="report removePost"><a class="confirmDelete" href="index.php?action=deletePost&amp;id={{ post.id }}"><i class="fas fa-trash-alt"></i></a></button>
						<a class="report" href="index.php?action=updatePost&amp;id={{ post.id }}"><i class="fas fa-edit"></i></a>
						<p><em>{{ post.date_fr }}</em></p>
						{% if post.date_fr < post.update_date_fr %}
							<p><em>modifié le {{ post.update_date_fr}}</em></p>
						{% endif %}
					</div>
						{% endfor %}
					{% else %}
						<p>Pas de projets !</p>
					{% endif %}
				</div>	
			</div>
		<!--</div>
		<div class="row">-->
			<div class="col-lg-4">
				<div id="commentManage">
					<h3>Gestion des commentaires</h3>
					{% if comments is defined %}
						{% for comment in comments %}
					<div class="listPanel">
						<p>{{ comment.author }}</p>
						<p><em>{{ comment.date_fr }}</em></p>
						<p class="linkProject"><a href="{{ globals.root }}index.php?action=post&amp;id={{ comment.id_post }}#commentsFrame" >Projet lié</a></p>
						<button class="report removeComment"><a class="confirmDelete" href="index.php?action=deleteComment&amp;id={{ comment.id }}"><i class="fas fa-trash-alt"></i></a></button>
						<p>{{ comment.content }}</p>	
					</div>
						{% endfor %}
					{% else %}
						<p>Pas de commentaires !</p>
					{% endif %}
				</div>
			</div>
			<div class="col-lg-4">
				<div id="memberManage">
					<h3>Gestion des membres</h3>
					{% if members is defined %}
						{% for member in members %}
					<div class="listPanel">
						<p>{{ member.pseudo }}</p>
						<p>Date d'inscription : <em>{{ member.date_fr }}</em></p>
						<button class="report removeMember"><a class="confirmDelete" href="index.php?action=deleteMember&amp;id={{ member.id }}"><i class="fas fa-trash-alt"></i></a></button>	
					</div>
						{% endfor %}
					{% else %}
						<p>Pas de membres !</p>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}