{% extends "/layout.html.twig" %}

{% block body %}

	<section id="head">
		<div id="container-image">
			<img alt="photo présentation" src="public/img/image2"/>
			<div id="head-titre">
				<p>Charlotte Perution</p>
				<h1>Développeur Web Freelance</h1>
			</div>
			<div id="head-intro">
				<p>Une idée ?
					<br>
					Un projet de création de site web ?
					<br>
					Je vous propose mes services !</p>
			</div>
			<a id="scroll" href="{{ globals.root }}index.php#introduction">
				<span>
					<i class="fas fa-angle-double-down fa-2x"></i>
				</span>
			</a>
		</div>
	</section>

	<section id="introduction">
		<h2>
			A PROPOS
		</h2>
		<br>
		<div class="row">
			<div class="col-lg-6 col-sm-12 photo-profil" id="pannel1" style="text-align: center;">

				<br>
				<img alt="photo de profil" src="public/img/profil.jpeg"/>
				<br>
				<br>
				<p>Je suis
					<strong>développeur web Freelance spécialisée en Symfony et WordPress</strong>
					sur Montpellier.
					<br>
					Curieuse et passionnée par les nouvelles technologies et le web, je me suis reconvertie dans le domaine du développement web après des études juridiques.
											J'ai obtenu un diplôme de Développeur intégrateur en réalisation d'applications web et ne cesse de continuer à me former sur de nouvelles technologies et de me perfectionner
											sur celles que j'ai acquise.
					<br>
					Je suis disponible pour mener à bien la création et l'aboutissement de vos projets.
				</p>
			</div>

			<div class="col-lg-6 col-sm-12 logo" id="pannel2">

				<h3>MES COMPÉTENCES</h3>
				<br>
				<div class="row">
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo HTML5" src="/public/img/Html.svg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3 ">
						<img alt="logo CSS3" src="/public/img/CSS3.svg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Boostrap" src="/public/img/bootstrap-logo.jpg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo SASS" src="/public/img/sass.svg">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Javascript" src="/public/img/javascript.png">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Wordpress" src="/public/img/Wordpress.svg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo PHP" src="/public/img/php.png">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo MySQL" src="/public/img/mysql.svg">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Symfony" src="/public/img/symfony.svg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Git" src="/public/img/Git_icon.svg">
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="services">
		<h2>
			 MES PRESTATIONS 
		</h2>
		<br>
		<div id="pannel-services">
			<div class="row">
				<div class="col-sm-4 col-xs-12 service">
					<h3>
						<i class="fas fa-portrait"></i>
						Page de présentation</h3>
					<p>Pour présenter votre activité, commerce,
						<br>entreprise ou votre CV en une seule page</p>
				</div>
				<div class="col-sm-4 col-xs-12 service">
					<h3>
						<i class="fas fa-chevron-circle-right"></i>
						Site Vitrine</h3>
					<p>Création d'un site avec plusieurs pages pour
						<br>
						votre activité avec WordPress (personnalisation
						<br>
						de thème ou thème sur mesure)</p>

				</div>
				<div class="col-sm-4 col-xs-12 service">
					<h3>
						<i class="fas fa-shopping-cart"></i>
						Site e-commerce</h3>
					<p>Création d'un site e-commerce pour développer
						<br>
						votre activité commerciale en ligne avec WordPress
						<br>
						et WooCommerce (personnalisation de thème ou thème <br> sur mesure)</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-12 service">
					<h3>
						<i class="fas fa-mobile-alt"></i>
						Responsive</h3>
					<p>Des sites compatibles avec tous les supports
						<br>
						(tablette et mobile)</p>
				</div>
				<div class="col-sm-4 col-xs-12 service">
					<h3>
						<i class="fas fa-laptop"></i>
						Référencement naturel</h3>
					<p>Pour une meilleure visibilité sur les moteurs de recherche</p>
				</div>
				<div class="col-sm-4 col-xs-12 service">
					<h3>
						<i class="fas fa-pencil-alt"></i>
						Intégration web</h3>
					<p>Je peux intervenir sur l'intégration de vos
						<br>
						maquettes</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-12 service">
					<h3>
						<i class="fas fa-wrench"></i>
						Refonte d'un site web existant</h3>
					<p>Pour un nouveau design ou la modification
						<br>
						en profondeur d'un code obsolète</p>
				</div>
				<div class="col-sm-4 col-xs-12 service">
					<h3>
						<i class="fas fa-code"></i>
						Site fait sur mesure</h3>
					<p>Ou pour des projets plus complexes l'utilisation du <br> framework Symfony 4</p>
				</div>
				<div class="col-sm-4 col-xs-12 service">
					<h3><i class="fas fa-server"></i> Hébergement et Domaines</h3>
					<p>Enregistrement de votre nom de domaine et hébergement <br>de votre site adapté à vos besoins</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

				</div>
			</div>
		</div>
		
	</section>

	<section id="portfolio">
		<h2>
			 PROJETS
		</h2>
		<div class="post">
			<div class="row" style="justify-content: space-around">
				{% if posts is defined %}
					{% for post in posts %}
						<div class="col-lg-4 col-sm-6">
							<figure class="projets">
								<img alt="" src="public/img/upload/{{ post.post_image }}"/><br/>
								<figcaption>
									<br>
									<h3>
										{{ post.title }}
									</h3>
									
									<p>Technos utilisées :</p>
									<p>{{ post.resume }}</p>
									<!-- button découvrir le projet -->
									<a aria-pressed="true" class="btn btn-primary btn-lg active" target="_blank" href="{{ post.url }}" role="button">Découvrir</a>
								</figcaption>
							</figure>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="row">
					<div class="col-lg-12">
						<p>Pas de projets à afficher !</p>
					</div>
				</div>
			{% endif %}
		</div>
	</section>

	<section id="contact">
		<h2> CONTACT </h2>
		<br>
		<div class="row" style="justify-content: center">
			<div class="col-lg-5 col-md-6">
				<div class="contact">
					<br>
					<p>
						Pour toutes demandes d'informations ou de devis, vous pouvez me contacter
						<br>
						via ce formulaire ou directement via mon adresse mail
						<em>contact@charlotteperution.fr</em>
					</p>
					<br>
					{% if get.sendContact and get.sendContact == 'success' %}
						<p id="success">Votre message a bien été envoyé !</p>
					{% elseif get.sendContact and get.sendContact == 'error' %}
						<p id="error">Tous les champs ne sont pas remplies !</p>
					{% endif %}
					<div class="formBlock">
						<form action="index.php?action=sendContact" method="post">
							<div class="form-group">
								<label for="nom">Votre nom</label><br/>
								<input class="form-control form-control-lg" id="nom" name="nom" required type="text"/></br>
						</div>
						<div class="form-group">
							<label for="mail">Votre Adresse mail</label><br/>
							<input aria-describedby="emailHelp" class="form-control form-control-lg" id="mail" name="mail" required type="email"/><br/>
							<small class="form-text text-muted" id="emailHelp">Votre adresse mail ne sera pas utilisée en dehors de ce site.</small>
						</div>
						<div class="form-group">
							<label for="message">Votre message :</label>
							<br>
								<textarea class="form-control" id="message" name="message" rows="3"></textarea>
							</br>
						</div>
						<button class="btn btn-primary btn-lg" name="mailform" style="background-color: #d48d6e!important; border:#d48d6e" type="submit">Envoyer</button>
					</form>
				</div>
			</div>
		</div>
	</div></section>

<!--
	<section id="github">
		<h2> MON GITHUB </h2>
		<i class="fab fa-github fa-2x"></i>
		<div class="row justify-content-center">
			<div class="col-lg-7 col-sm-4">
				<h4>Mon profil</h4>
				<div id="profilAPI">
				</div>
			</div>
			<div class="col-lg-5 col-sm-8">
				<h4>Mes derniers commits</h4>
				<div id="eventsAPI">

				</div>
			</div>
		</div>
	</section>
	-->

{% endblock %}