{% extends "/layout.html.twig" %}

{% block body %}

	<section id="head">
		<div id="container-image">
			<img alt="photo présentation" src="public/img/image2"/>
			<div id="head-titre">
				<p>Charlotte Perution</p>
				<h1>Développeur Web Freelance</h1>
			</div>
			<div id="head-intro">
				<p>Une idée ?
					<br>
					Un projet de création de site web ?
					</p>
			</div>
			<a id="scroll" href="{{ globals.root }}index.php#introduction">
				<span>
					<i class="fas fa-angle-double-down fa-2x"></i>
				</span>
			</a>
		</div>
	</section>

	<section id="introduction">
		<h2>
			A PROPOS
		</h2>
		<br>
		<div class="row">
			<div class="col-lg-6 col-sm-12 photo-profil" id="pannel1" style="text-align: center;">

				<br>
				<img alt="photo de profil" src="public/img/profil.jpeg"/>
				<br>
				<br>
				<p>Je suis
					<strong>développeur web Freelance spécialisée en Symfony et WordPress</strong>
					sur Montpellier.
					<br><br>
					Curieuse et passionnée par les nouvelles technologies et le web, je me suis reconvertie dans le domaine du développement web après des études juridiques.
					J'ai obtenu un diplôme de Développeur intégrateur en réalisation d'applications web et ne cesse de continuer à me former sur de nouvelles technologies et de me perfectionner
					sur celles que j'ai acquise.
					<br><br>
					Je suis disponible et à votre écoute pour mener à bien la création et l'aboutissement de vos projets.
				</p>
			</div>

			<div class="col-lg-6 col-sm-12 logo" id="pannel2">

				<h3>MES COMPÉTENCES</h3>
				<br>
				<div class="row">
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo HTML5" src="/public/img/Html.svg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3 ">
						<img alt="logo CSS3" src="/public/img/CSS3.svg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Boostrap" src="/public/img/bootstrap-logo.jpg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo SASS" src="/public/img/sass.svg">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Javascript" src="/public/img/javascript.png">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Wordpress" src="/public/img/Wordpress.svg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo PHP" src="/public/img/php.png">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo MySQL" src="/public/img/mysql.svg">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Symfony" src="/public/img/symfony.svg">
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-3">
						<img alt="logo Git" src="/public/img/Git_icon.svg">
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="services">
		<h2>
			 MES SERVICES
		</h2>
		<br>
		<p class="intro-section">Vous avez besoin d'un <strong>blog</strong>, <strong>site vitrine</strong>, <strong>boutique e-commerce</strong> pour votre commerce, restaurant, cabinet ou encore votre association ? 
		<br>
		Ou la refonte de votre site web déjà existant ?
   		<br>
    	Je vous propose mes services :</p>

		<br>
		<div class="row">
			<div class="col-lg-12 frame-services">
				<div class="row">
					<div class="col-lg-6 col-sm-12">
						<ul class="right-column">
							<li class="li-right">
								<div class="services-line">
									<h3>Devis gratuit</h3>
									<em>Après analyse de vos besoins, je vous propose un devis gratuit</em>
								</div>
								<div class="icon">
									<i class="far fa-file-alt fa-2x"></i>
								</div>
							</li>
							<br>
							<li class="li-right">
								<div class="services-line">
									<h3>Référencement</h3>
									<em>Pour une meilleure visibilité de votre site sur les moteurs de recherche</em>
								</div>
								<div class="icon">
									<i class="fas fa-laptop fa-2x"></i>
								</div>
							</li>
							<br>
							<li class="li-right">
								<div class="services-line">
									<h3>Responsive Design</h3>
									<em>Un site compatible avec tous les supports (tablette et mobile)</em>
								</div>
								<div class="icon">
									<i class="fas fa-mobile-alt fa-2x"></i>
								</div>
							</li>
							<br>
							<li class="li-right">
								<div class="services-line">
									<h3>Un suivi</h3>
									<em>Je vous tiens au courant de l'avancée du projet tout au long du processus</em>
								</div>
								<div class="icon">
									<i class="far fa-envelope fa-2x"></i>
								</div>
							</li>
							<br>
							<li class="li-right">
								<div class="services-line">
									<h3>Nom de domaine et Hébergement</h3>
									<em>Conseils pour le choix de votre nom de domaine ainsi que l'hébergement qui soient adaptés à vos besoins</em>
								</div>
								<div class="icon">
									<i class="fas fa-server fa-2x"></i>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-6 col-sm-12">
						<ul class="left-column">
							<li class="li-left">
								<div class="icon">
									<i class="far fa-comments fa-2x"></i>
								</div>
								<div class="services-line">
									<h3>Facilité de contact</h3>
									<em>Je me déplace ou vous contacte via visioconférence quelle que soit la distance</em>
								</div>
							</li>
							<br>
							<li class="li-left">
								<div class="icon">
									<i class="far fa-smile fa-2x"></i>
								</div>
								<div class="services-line">
									<h3>Disponibilité</h3>
									<em>Je suis disponible pour toutes vos questions et à l'écoute de vos besoins</em>
								</div>
							</li>
							<br>
							<li class="li-left">
								<div class="icon">
									<i class="fas fa-book-open fa-2x"></i>
								</div>
								<div class="services-line">
									<h3>Conseils et Formation</h3>
									<em>Je vous livre des conseils, une documentation et une formation sur le fonctionnement de votre site à sa livraison</em>
								</div>
							</li>
							<br>
							<li class="li-left">
								<div class="icon">
									<i class="fas fa-wrench fa-2x"></i>
								</div>
								<div class="services-line">
									<h3>Maintenance</h3>
									<em>Selon votre choix, j'effectue la maintenance de votre site pour la continuité de son bon fonctionnement</em>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="portfolio">
		<h2>
			 MES PROJETS
		</h2>
		<div class="post">
			<div class="row" style="justify-content: space-around">
				{% if posts is defined %}
					{% for post in posts %}
						<div class="col-lg-4 col-sm-6">
							<figure class="projets">
								<img alt="" src="public/img/upload/{{ post.post_image }}"/><br/>
								<figcaption>
									<br>
									<h3>
										{{ post.title }}
									</h3>
									
									<p>Technos utilisées :</p>
									<p>{{ post.resume }}</p>
									<!-- button découvrir le projet -->
									<a aria-pressed="true" class="btn btn-primary btn-lg active" target="_blank" href="{{ post.url }}" role="button">Découvrir</a>
								</figcaption>
							</figure>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="row">
					<div class="col-lg-12">
						<p>Pas de projets à afficher !</p>
					</div>
				</div>
			{% endif %}
		</div>
	</section>

	<section id="formules">
		<h2>
			MES TARIFS
		</h2>
		<br>
		<p class="intro-section">Selon vos besoins, je vous propose des formules adaptées : </p>
		<br>
		<div id="container-formules">
			<div class="row">
				<div class="col-lg-3 frame-formules">
					<h3>FORMULE SITE VITRINE</h3>
					<em>avec WordPress</em>
					<br>
					<br>
					<strong class="price">À partir de 600€*</strong>
					<br>
					<br>
					<p class="details-formule">Détails de la formule :</p>
					<ul class="list-formule">
						<li>Identification du besoin client</li>
						<li>Mise en place et Configuration de WordPress</li>
						<li>Installation et Personnalisation du thème choisi</li>
						<li>Création des pages</li>
						<li>Ajout du contenu graphique et textuel</li>
						<li>Installation et configuration des fonctionnalités</li>
						<li>Mise en place des outils pour la sécurité du site</li>
						<li>Optimisation du référencement</li>
						<li>Responsive design</li>
						<li>Maintenance du site avec les 2 premiers mois gratuits (sous forme d'abonnement)</li>
						<li>Conseils sur le choix du nom de domaine et de l'hébergement</li>
						<li>Accompagnement sur la prise en main côté administration</li>
					</ul>
					<a href="#contact" aria-pressed="true" class="button-formule btn btn-primary btn-lg active" role="button">Me contacter</a>
					<br>
					<em>*Prix à titre indicatif: peut varier selon les besoins du clients.</em>
				</div>
				<div class="col-lg-3 frame-formules">
					<h3>FORMULE SITE ECOMMERCE</h3>
					<em>avec WordPress</em>
					<br>
					<br>
					<strong class="price">À partir de 1400€*</strong>
					<br>
					<br>
					<p class="details-formule">Détails de la formule :</p>
					<ul class="list-formule">
						<li>Identification du besoin client</li>
						<li>Mise en place et Configuration de WordPress</li>
						<li>Installation et Personnalisation du thème choisi</li>
						<li>Création des pages</li>
						<li>Ajout du contenu graphique et textuel</li>
						<li>Installation et configuration de WooCommerce</li>
						<li>Installation et configuration des fonctionnalités</li>
						<li>Mise en place des outils pour la sécurité du site</li>
						<li>Optimisation du référencement</li>
						<li>Responsive design</li>
						<li>Maintenance du site avec les 2 premiers mois gratuits (sous forme d'abonnement annuel)</li>
						<li>Conseils sur le choix du nom de domaine et de l'hébergement</li>
						<li>Accompagnement sur la prise en main côté administration</li>
					</ul>
					<a href="#contact" aria-pressed="true" class="button-formule btn btn-primary btn-lg active" role="button">Me contacter</a>
					<br>
					<em>*Prix à titre indicatif: peut varier selon les besoins du clients.</em>
				</div>
				<div class="col-lg-3 frame-formules">
					<h3>FORMULE SITE SUR MESURE</h3>
					<em>avec Symfony 4</em>
					<br>
					<br>
					<strong class="price">À partir de 200€ / jour</strong>
					<br>
					<br>
					<p class="details-formule">Détails de la formule :</p>
					<ul class="list-formule">
						<li>Identification du besoin client</li>
						<li>Mise en place de la charte graphique</li>
						<li>Création des pages</li>
						<li>Développement des fonctionnalités</li>
						<li>Mise en place des outils pour la sécurité du site</li>
						<li>Optimisation du référencement</li>
						<li>Responsive design</li>
						<li>Maintenance du site avec les 2 premiers mois gratuits (sous forme d'abonnement annuel)</li>
						<li>Conseils sur le choix du nom de domaine et de l'hébergement</li>
						<li>Accompagnement sur la prise en main côté administration</li>
					</ul>
					<a href="#contact" aria-pressed="true" class="button-formule btn btn-primary btn-lg active" role="button">Me contacter</a>
				</div>
			</div>
		</div>
	</section>


	<section id="contact">
		<h2> CONTACT </h2>
		<br>
		<div class="row" style="justify-content: center">
			<div class="col-lg-12">
				<div class="contact">
					<br>
					<p>
						Pour toutes demandes d'informations ou de devis, vous pouvez me contacter
						via ce formulaire ou directement via mon adresse mail ou par téléphone.
						<br>
						<strong>Devis GRATUIT !</strong>
					</p>
					<br>
					{% if get.sendContact and get.sendContact == 'success' %}
						<p id="success">Votre message a bien été envoyé !</p>
					{% elseif get.sendContact and get.sendContact == 'error' %}
						<p id="error">Tous les champs ne sont pas remplies !</p>
					{% endif %}
					<div class="row">
						<div class="col-lg-2">
						</div>
						<div class="col-lg-4">
							<div class="formBlock">
								<form action="index.php?action=sendContact" method="post">
									<div class="form-group">
										<label for="nom">Nom & Prénom</label><br/>
										<input class="form-control form-control-lg" id="nom" name="nom" required type="text" /></br>
										<div class="invalid-feedback">
											Veuillez entrer votre nom et prénom.
										</div>
									</div>
									<div class="form-group">
										<label for="mail">Email</label><br/>
										<input aria-describedby="emailHelp" class="form-control form-control-lg" id="mail" name="mail" required type="email"/><br/>
									</div>
									<div class="form-group">
										<label for="message">Message</label>
										<br>
											<textarea class="form-control" id="message" name="message" rows="3"></textarea>
										</br>
									</div>
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="consent">
										<label class="form-check-label" for="consent">En soumettant ce formulaire, j'accepte que les informations saisies soient exploitées dans 
										le cadre de la relation commerciale qui peut en découler.</label>
									</div>
									<br>
									<div class="g-recaptcha" data-sitekey="6LfD77kUAAAAAHcsjRdAfL-H5d8qdIkVlHgmw7Zy"></div>
									<br>
									<button class="btn btn-primary btn-lg" name="mailform" style="background-color: #d48d6e!important; border:#d48d6e; font-size:1.2em;" type="submit">Envoyer</button>
								</form>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="contact-details">
								<div class="phone">
									<h4>
									<i class="fas fa-mobile-alt fa-lg"></i> Par téléphone :</h4>
									<em>06.66.89.08.73</em>
								</div>
								<div class="mail">
									<h4>
										<i class="fas fa-envelope-square fa-lg"></i>
										Par mail :</h4>
									<em>contact@charlotteperution.fr</em>
								</div>
								<div class="town">
									<h4>
										<i class="fas fa-map-marker-alt fa-lg"></i> Ma localisation :</h4>
									<em>Montpellier - Antigone </em>
								</div>
								<div class="reseaux">
									<h4>Retrouvez moi aussi sur :</h4>
									<br>
									<a href="https://www.linkedin.com/in/charlotte-perution-97b305167/">
										<i class="fab fa-linkedin fa-3x"></i>
									</a>
									<a href="https://github.com/chaperution">
										<i class="fab fa-github fa-3x"></i>
									</a>
									<a href="https://twitter.com/Charlotteper34">
										<i class="fab fa-twitter fa-3x"></i>
									</a>
									<a href="https://www.facebook.com/CharlottePerutionDeveloppeur">
										<i class="fab fa-facebook-square fa-3x"></i>
									</a>

								</div>
							</div>
						</div>
						<div class="col-lg-2">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div></section>

<!--
	<section id="github">
		<h2> MON GITHUB </h2>
		<i class="fab fa-github fa-2x"></i>
		<div class="row justify-content-center">
			<div class="col-lg-7 col-sm-4">
				<h4>Mon profil</h4>
				<div id="profilAPI">
				</div>
			</div>
			<div class="col-lg-5 col-sm-8">
				<h4>Mes derniers commits</h4>
				<div id="eventsAPI">

				</div>
			</div>
		</div>
	</section>
	-->

{% endblock %}