{% extends "frontend/layout.html.twig" %}

{% block frontend_body %}

	<section class="framePost">
		<div class="row" style="justify-content: space-around">
			<div class="col-lg-2">
				<a href="index.php?action=listPosts" role="button" class="btn btn-primary btn-lg active" aria-pressed="true">Retour à la liste des projets</a>
			</div>
		</div>
		<div class="row" style="justify-content: space-around">
			<div class="col-lg-6">
				<div class="head-full-post">
					<img src={{ post.post_image }} alt="" />
					<h3>
						{{ post.title }}
					</h3>
					<em>le {{ post.date_fr }}</em><br />
	 				{% if post.date_fr < post.update_date_fr %}
						<p id="updateDate">modifié le {{ post.update_date_fr }}</p>
					{% endif %}
				</div>
				<div class="post">{{ post.content }}</div>
			</div>
		</div>
		<div class="row" style="justify-content: space-around">
			<div class="col-lg-6">
				<div id="commentsFrame">
					<h3>Commentaires : </h3>
					{% for comment in comments %}
					<div class="commentBlock">
						<p><strong>{{ comment.author }}</strong><em> le {{ comment.date_fra }}</em></p>
						<p>{{ comment.content }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	
		{% if nbPage >= 2 %}
		<div class="row">
			<div class="col-lg-12">
				<div id="pageFrame">
					{% for i in 1..nbPage %}
						{% if (get.page is empty and i == 1) or (get.page is defined and get.page == i) %}
							<span class='cPageFrame'>{{ i }}</span>
						{% else %}
							<a class='pageBlock' href="index.php?action=post&amp;id={{ post.id }}&amp;page={{ i }}#commentsFrame">{{ i }}</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
	
		<div class="row" style="justify-content: space-around">
			<div class="col-lg-4">
				{% if session is empty %}
					<div id="info">Pour me laisser un commentaire, veuillez vous <a href="index.php?action=login">connecter</a>.</div>
				{% else %}
				<div id="commentForm">
					<p>N'hésitez pas à me laisser un commentaire ! ;)</p>
					<form action="index.php?action=addComment&amp;id={{ post.id }}" method="post">
						<div class="form-group">
							<label for="content">Commentaire :</label><br />
							<textarea class="form-control" id="content" name="content" rows="3"></textarea> </br>
						</div>
						<button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
					</form>
				</div>
				{% endif %}
			</div>
		</div>
	</section>

{% endblock %}